Repository scverse/scanpy, pull requests merged in 2021-03, with the labels that each got.

#1707 Add sparsificiation step before sparse-dependent Scrublet calls
  scanpy/external/pp/_scrublet.py
  scanpy/tests/external/test_scrublet.py
Labels: release-note needed

#1717 Fix clipped images in docs
  docs/matplotlibrc
Labels: docs, plots

#1722 Alexmascension ecosystem
  docs/ecosystem.rst
Labels: docs

#1726 Minor addition to contributing docs
  docs/dev/getting-set-up.rst
Labels: dev, docs

#1735 Preserve category order when groupby is a list
  scanpy/plotting/_anndata.py
  scanpy/tests/_images/master_dotplot_groupby_list_catorder.png
  scanpy/tests/test_plotting.py
Labels: plots

#1737 Fix long test output
  scanpy/tests/conftest.py
Labels: dev
