Repository scverse/scanpy, pull requests merged in 2021-01, with the labels that each got.

#1558 Do not use the cached rp_forest
  scanpy/neighbors/__init__.py
Labels: backport needed

#1587 Attach failing plots to CI results
  .azure-pipelines.yml
  .gitignore
  conftest.py
  docs/_static/img/ci_plot-view_attachment-tab.png
  docs/_static/img/ci_plot-view_select-test.png
  docs/_static/img/ci_plot-view_tests-tab.png
  docs/dev/ci.rst
  docs/dev/index.rst
  pyproject.toml
  scanpy/tests/conftest.py
  setup.py
Labels: dev

#1596 Speedup embedding plots when len(cluster_colors) < len(cluster_categories)
  scanpy/plotting/_tools/scatterplots.py
Labels: performance, plots, release-note needed
