Repository scverse/scanpy, pull requests merged in 2022-03, with the labels that each got.

#2166 Update intersphinx links
  docs/conf.py
Labels: Area - Documentation 📒

#2119 Use certifi if urlopen fails
  scanpy/readwrite.py
Labels: Area - Datasets

#2177 Point discourse links to scverse discourse
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
  README.rst
  docs/community.rst
  docs/index.rst
Labels: Area - Documentation 📒, Area - Community

#2184 Update release guide
  docs/dev/release.rst
  docs/dev/versioning.rst
Labels: Development Process 🚀, docs

#1663 Allow dask arrays to propagate through _normalize_data()
  scanpy/preprocessing/_normalization.py
  scanpy/tests/test_normalization.py
Labels: Area – Performance 🐌, Maint – Release-note needed

#2187 Cast color vector back to categorical
  scanpy/plotting/_tools/scatterplots.py
  scanpy/tests/test_plotting.py
Labels: Bug 🐛, Area - Plotting 🌺, Maint – Release-note needed

#1965 Make Scrublet batch-aware
  scanpy/external/pl.py
  scanpy/external/pp/_scrublet.py
  scanpy/tests/_images/scrublet_with_batches.png
  scanpy/tests/external/test_scrublet.py
  scanpy/tests/test_plotting.py
Labels: Enhancement ✨, Area – External, Maint – Release-note needed

#2192 slack -> zulip
  docs/community.md
Labels: Area - Community
