Repository scverse/scanpy, pull requests merged in 2022-04, with the labels that each got.

#2196 Prep release notes
  README.md
  docs/api.md
  docs/ecosystem.md
  docs/index.md
  docs/news.md
  docs/release-notes/1.8.0.md
  docs/release-notes/1.8.3.md
  docs/release-notes/1.9.0.md
  docs/release-notes/index.md
  docs/release-notes/release-latest.md
Labels: docs

#2200 Migrate CI
  .azure-pipelines.yml
  README.md
  docs/_key_contributors.rst
  docs/community.md
  docs/dev/code.md
  docs/dev/documentation.md
  docs/dev/getting-set-up.md
  docs/dev/testing.md
  docs/ecosystem.md
  docs/external.md
  docs/index.md
  docs/installation.md
  docs/news.md
  docs/release-notes/0.1.0.md
  docs/release-notes/0.2.1.md
  docs/release-notes/0.4.0.md
  docs/release-notes/1.0.0.md
  docs/release-notes/1.9.0.md
  docs/tutorials.md
  pyproject.toml
  scanpy/external/exporting.py
  scanpy/get/get.py
  scanpy/metrics/_gearys_c.py
  scanpy/plotting/_tools/scatterplots.py
  scanpy/plotting/palettes.py
  scanpy/tests/conftest.py
  scanpy/tests/test_get.py
  scanpy/tests/test_logging.py
  scanpy/tests/test_metrics.py
  scanpy/tests/test_paga.py
  scanpy/tests/test_pca.py
  scanpy/tests/test_plotting.py
  scanpy/tests/test_preprocessing.py
  scanpy/tests/test_queries.py
  scanpy/tests/test_rank_genes_groups.py
  scanpy/tests/test_score_genes.py
  scanpy/tools/_rank_genes_groups.py
  scanpy/tools/_score_genes.py
  scanpy/tools/_sim.py
Labels: Development Process 🚀

#2199 Fix doc caching
  docs/conf.py
Labels: Development Process 🚀, docs

#2202 Backport PR #2199 on branch 1.9.x (Fix doc caching)
  docs/conf.py
Labels: Development Process 🚀, docs

#2201 Backport PR #2200 on branch 1.9.x (Migrate CI)
  .azure-pipelines.yml
  README.md
  docs/_key_contributors.rst
  docs/community.md
  docs/dev/code.md
  docs/dev/documentation.md
  docs/dev/getting-set-up.md
  docs/dev/testing.md
  docs/ecosystem.md
  docs/external.md
  docs/index.md
  docs/installation.md
  docs/news.md
  docs/release-notes/0.1.0.md
  docs/release-notes/0.2.1.md
  docs/release-notes/0.4.0.md
  docs/release-notes/1.0.0.md
  docs/release-notes/1.9.0.md
  docs/tutorials.md
  pyproject.toml
  scanpy/external/exporting.py
  scanpy/get/get.py
  scanpy/metrics/_gearys_c.py
  scanpy/plotting/_tools/scatterplots.py
  scanpy/plotting/palettes.py
  scanpy/tests/conftest.py
  scanpy/tests/test_get.py
  scanpy/tests/test_logging.py
  scanpy/tests/test_metrics.py
  scanpy/tests/test_paga.py
  scanpy/tests/test_pca.py
  scanpy/tests/test_plotting.py
  scanpy/tests/test_preprocessing.py
  scanpy/tests/test_queries.py
  scanpy/tests/test_rank_genes_groups.py
  scanpy/tests/test_score_genes.py
  scanpy/tools/_rank_genes_groups.py
  scanpy/tools/_score_genes.py
  scanpy/tools/_sim.py
Labels: Development Process 🚀
