Repository scverse/scanpy, pull requests merged in 2025-04, with the labels that each got.

#3553 Deduplicate graph metrics
  src/scanpy/metrics/_common.py
  src/scanpy/metrics/_gearys_c.py
  src/scanpy/metrics/_morans_i.py
  tests/test_metrics.py
Labels: Development Process 🚀

#3562 Simplify qc
  src/scanpy/preprocessing/_qc.py
  tests/test_qc_metrics.py
Labels: Development Process 🚀

#3569 Backport PR #3566 on branch 1.11.x ([pre-commit.ci] pre-commit autoupdate)
  .pre-commit-config.yaml
Labels: Development Process 🚀

#3579 Add BLE, C4, ISC, and PERF lints
  docs/extensions/git_ref.py
  pyproject.toml
  src/scanpy/_settings.py
  src/scanpy/plotting/_tools/paga.py
  src/scanpy/plotting/_tools/scatterplots.py
  src/scanpy/preprocessing/_combat.py
  src/scanpy/preprocessing/_scrublet/core.py
  src/scanpy/readwrite.py
  src/scanpy/tools/_dpt.py
  src/scanpy/tools/_sim.py
  src/testing/scanpy/_pytest/__init__.py
  tests/external/test_wishbone.py
  tests/test_plotting.py
Labels: Development Process 🚀, needs retroactive review

#3581 Backport PR #3579 on branch 1.11.x (Add BLE, C4, ISC, and PERF lints)
  docs/extensions/git_ref.py
  pyproject.toml
  src/scanpy/_settings.py
  src/scanpy/_utils/__init__.py
  src/scanpy/plotting/_tools/paga.py
  src/scanpy/plotting/_tools/scatterplots.py
  src/scanpy/preprocessing/_combat.py
  src/scanpy/preprocessing/_scrublet/core.py
  src/scanpy/readwrite.py
  src/scanpy/tools/_dpt.py
  src/scanpy/tools/_sim.py
  src/testing/scanpy/_pytest/__init__.py
  tests/external/test_wishbone.py
  tests/test_plotting.py
  tests/test_rank_genes_groups.py
Labels: Development Process 🚀

#3582 Add RUF lints
  benchmarks/benchmarks/preprocessing_counts.py
  benchmarks/benchmarks/preprocessing_log.py
  pyproject.toml
  src/scanpy/__init__.py
  src/scanpy/_compat.py
  src/scanpy/datasets/__init__.py
  src/scanpy/external/exporting.py
  src/scanpy/external/pl.py
  src/scanpy/external/pp/_harmony_integrate.py
  src/scanpy/external/tl/__init__.py
  src/scanpy/metrics/__init__.py
  src/scanpy/metrics/_common.py
  src/scanpy/neighbors/__init__.py
  src/scanpy/plotting/__init__.py
  src/scanpy/plotting/_anndata.py
  src/scanpy/plotting/_tools/__init__.py
  src/scanpy/plotting/_tools/paga.py
  src/scanpy/plotting/_tools/scatterplots.py
  src/scanpy/preprocessing/__init__.py
  src/scanpy/preprocessing/_scrublet/__init__.py
  src/scanpy/preprocessing/_scrublet/core.py
  src/scanpy/tools/__init__.py
  src/scanpy/tools/_dpt.py
  src/scanpy/tools/_sim.py
  src/testing/scanpy/_pytest/fixtures/__init__.py
  tests/test_get.py
  tests/test_plotting_embedded/test_spatial.py
Labels: Development Process 🚀, needs retroactive review

#3583 Backport PR #3582 on branch 1.11.x (Add RUF lints)
  benchmarks/benchmarks/preprocessing_counts.py
  benchmarks/benchmarks/preprocessing_log.py
  pyproject.toml
  src/scanpy/__init__.py
  src/scanpy/_compat.py
  src/scanpy/datasets/__init__.py
  src/scanpy/external/exporting.py
  src/scanpy/external/pl.py
  src/scanpy/external/pp/_harmony_integrate.py
  src/scanpy/external/tl/__init__.py
  src/scanpy/metrics/__init__.py
  src/scanpy/metrics/_common.py
  src/scanpy/neighbors/__init__.py
  src/scanpy/plotting/__init__.py
  src/scanpy/plotting/_anndata.py
  src/scanpy/plotting/_tools/__init__.py
  src/scanpy/plotting/_tools/paga.py
  src/scanpy/plotting/_tools/scatterplots.py
  src/scanpy/preprocessing/__init__.py
  src/scanpy/preprocessing/_scrublet/__init__.py
  src/scanpy/preprocessing/_scrublet/core.py
  src/scanpy/tools/__init__.py
  src/scanpy/tools/_dpt.py
  src/scanpy/tools/_sim.py
  src/testing/scanpy/_pytest/fixtures/__init__.py
  tests/test_get.py
  tests/test_plotting_embedded/test_spatial.py
Labels: Development Process 🚀

#3604 (fix): make sphinx search work again
  docs/conf.py
  docs/extensions/param_police.py
  pyproject.toml
Labels: Area - Documentation 📒, Development Process 🚀

#3590 Centralize random utils
  src/scanpy/_compat.py
  src/scanpy/_utils/__init__.py
  src/scanpy/_utils/random.py
  src/scanpy/datasets/_datasets.py
  src/scanpy/external/pp/_dca.py
  src/scanpy/external/pp/_magic.py
  src/scanpy/external/tl/_phate.py
  src/scanpy/neighbors/__init__.py
  src/scanpy/plotting/_tools/__init__.py
  src/scanpy/plotting/_tools/paga.py
  src/scanpy/preprocessing/_deprecated/sampling.py
  src/scanpy/preprocessing/_pca/__init__.py
  src/scanpy/preprocessing/_pca/_compat.py
  src/scanpy/preprocessing/_recipes.py
  src/scanpy/preprocessing/_scrublet/__init__.py
  src/scanpy/preprocessing/_scrublet/core.py
  src/scanpy/preprocessing/_scrublet/pipeline.py
  src/scanpy/preprocessing/_scrublet/sparse_utils.py
  src/scanpy/preprocessing/_simple.py
  src/scanpy/preprocessing/_utils.py
  src/scanpy/tools/_diffmap.py
  src/scanpy/tools/_draw_graph.py
  src/scanpy/tools/_leiden.py
  src/scanpy/tools/_louvain.py
  src/scanpy/tools/_score_genes.py
  src/scanpy/tools/_tsne.py
  src/scanpy/tools/_umap.py
  tests/test_aggregated.py
  tests/test_score_genes.py
  tests/test_utils.py
Labels: Development Process 🚀

#3610 Backport PR #3603 on branch 1.11.x ([pre-commit.ci] pre-commit autoupdate)
  .pre-commit-config.yaml
Labels: Development Process 🚀

#3615 Catch all exceptions getting version from VCS, fallback to `importlib`
  src/scanpy/_version.py
Labels: Development Process 🚀

#3616 Backport PR #3615 on branch 1.11.x (Catch all exceptions getting version from VCS, fallback to `importlib`)
  src/scanpy/_version.py
Labels: Development Process 🚀
